* {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: rgb(62, 207, 226);
}

/*Celular*/
@media only screen and (min-width: 320px) {
    body {
        background-color: rgb(29, 27, 27);
        padding-left: 1px;
        padding-right: 1px;
        padding-bottom: auto;
        padding-top: 5px;
        font-family: Arial;
        width: 100%;
    }

    header h1 {
        padding-top: 10px;
        font-size: 20px;
    }

    #fundo {
        background-color: rgb(46, 46, 43);
        border-radius: 1px;
        padding-top: 20px;
        padding-bottom: 20px;
        margin: 20px 20px;
        text-align: center;
        display: flex;
        border-radius: 20px;
        box-shadow: 2px 2px 40px rgb(53, 49, 49);
    }

    div {
        flex-direction: column;
    }

    header {
        color: white;
        padding-bottom: 0px;
    }

    picture img {
        border-radius: 100%;
        border: solid 2px white;
    }

    #opc {
        padding-top: 10px;
        padding-bottom: 20px;
        display: flex;
        flex-direction: column;
        padding-left: 40px;
        padding-right: 40px;
    }

    #opc p {
        color: white;
        font-size: 15px;
        padding-bottom: 20px;

    }

    .btn {
        padding: 5%;
        margin: 1%;
        border-radius: 15px;
        font-size: 3vmin;
    }

    .btn:hover {
        padding: 5%;
        margin: 1%;
        border-radius: 15px;
        background-color: rgb(43, 146, 206);
    }

    footer {
        padding-top: 3px;
        color: #ccc;
        font-size: 0.6rem;
    }
}

/*Tablet*/
@media only screen and (min-width: 768px) {
    body {
        background-color: rgb(29, 27, 27);
        padding-left: 1px;
        padding-right: 1px;
        padding-bottom: auto;
        padding-top: 5px;
        font-family: Arial;
        width: 100%;
    }

    header h1 {
        padding-top: 10px;
        font-size: 25px;
    }

    #fundo {
        background-color: rgb(46, 46, 43);
        border-radius: 1px;
        padding-top: 5px;
        padding-bottom: 20px;
        margin: 20px 80px 20px 80px;
        text-align: center;
        display: flex;
        border-radius:20px;
        box-shadow: 2px 2px 40px rgb(53, 49, 49);
    }

    .container {
        display: flex;
        flex-direction: column;
        padding-top: 5px;
    }

    header {
        color: white;
        padding-top: 10px;
        padding-bottom: 0px;
    }

    picture img {
        border-radius: 100%;
        border: solid 2px white;
    }

    #opc {
        padding-top: 10px;
        padding-bottom: 20px;
        display: flex;
        flex-direction: column;
        padding-left: 150px;
        padding-right: 150px;
    }

    #opc p {
        color: white;
        font-size: 20px;
        padding-bottom: 20px;

    }

    .btn {
        padding: 5%;
        margin: 1%;
        border-radius: 15px;
        font-size: 4vmin;
    }

    .btn:hover {
        padding: 5%;
        margin: 1%;
        border-radius: 15px;
        font-size: 4vmin;
        background-color: rgb(43, 146, 206);
    }

    footer {
        padding-top: 3px;
        color: #ccc;
        font-size: 0.8rem;
    }
}

/*Computadores*/
@media screen and (min-width:992px) {
    body {
        background-color: rgb(29, 27, 27);
        padding-left: 20vmin;
        padding-right: 20vmin;
        font-family: Arial;
        font-style: bold;
        height: 100vh;
        /* altura total da tela */
        overflow: hidden;
    }

    #fundo {
        background-color: rgb(46, 46, 43);
        border-radius: 10px;
        padding: 5%;
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        padding-bottom: 20px;
        box-shadow: 2px 2px 40px rgb(53, 49, 49);
    }

    .container {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
    }

    header {
        color: white;
        padding-right: 50px;
        padding-left: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    header h1 {
        padding-top: 2px;
        font-size: 30px;
        margin-top: 20px;
    }

    picture img {
        border-radius: 100%;
        border: solid 2px white;
    }

    #opc {
        padding-top: 2%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding-left: 5px;
        padding-right: 5px;
        margin: 20px 10px 20px 0px;
    }

    #opc p {
        color: white;
        font-size: 30px;
    }

    .btn {
        padding: 15px 20px;
        margin: 2%;
        border-radius: 15px;
        font-size: 4vmin;
        border: 3px;
        border-color: transparent;
        background-color: white;
        transition: background-color 0.3s, border-color 0.3s;
    }

    .btn:hover {
        background-color: rgb(43, 146, 206);
        border-color: rgb(43, 146, 206);
    }

    footer {
        padding-top: 10px;
        color: #ccc;
        font-size: 0.9rem;
    }
}

@media screen and (min-width:1400px) {
    body {
        background-color: rgb(29, 27, 27);
        padding-left: 20vmin;
        padding-right: 20vmin;
        font-family: Arial;
        font-style: bold;
        height: 100vh;
        /* altura total da tela */
        overflow: hidden;
    }

    header h1 {
        padding-top: 2px;
        font-size: 30px;
    }

    #fundo {
        background-color: rgb(46, 46, 43);
        border-radius: 10px;
        padding: 5%;
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        padding-bottom: 20px;
        box-shadow: 4px 4px 40px rgb(75, 72, 72);
    }

    .container {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
    }


    header {
        color: white;
        padding-bottom: 0px;
        padding-right: 50px;
        padding-left: 2rem;
    }

    picture img {
        border-radius: 100%;
        border: solid 2px white;
    }

    #opc {
        padding-top: 2%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding-left: 5px;
        padding-right: 5px;
        margin: 20px 10px 20px 0px;
    }

    #opc p {
        color: white;
        font-size: 30px;
    }

    .btn {
        padding: 15px 20px;
        margin: 2%;
        border-radius: 15px;
        font-size: 4vmin;
    }

    .btn:hover {
        background-color: rgb(43, 146, 206);
    }

    footer {
        padding-top: 10px;
        color: #ccc;
        font-size: 0.9rem;
    }
}