* {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: rgb(62, 207, 226);
}

/*Celular*/
@media only screen and (min-width: 320px){
    body {
        background-color: rgb(29, 27, 27);
        padding-left: 1px;
        padding-right: 1px;
        padding-bottom: auto;
        padding-top: 5px;
        font-family: Arial;
        width: 100%; 
    }

    header h1 {
        padding-top: 10px;
        font-size: 20px;
    }

    #fundo {
        background-color: rgb(46, 46, 43);
        border-radius: 1px;
        padding-top: 20px;
        padding-bottom: 20px;
        margin:20px 20px;
        text-align: center;
        display: flex;
        border-radius: 20px;
        box-shadow: 2px 2px 40px rgb(53, 49, 49);
    }

    div {
        flex-direction: column;
    }

    header {
        color: white;
        padding-bottom: 0px;
    }

    picture img {
        border-radius: 100%;
        border: solid 2px white;
    }

    #opc {
        padding-top: 10px;
        padding-bottom: 20px;
        display: flex;
        flex-direction: column;
        padding-left: 40px;
        padding-right: 40px;
    }

    #opc p {
        color: white;
        font-size: 15px;
        padding-bottom:20px;

    }

    .btn {
        padding: 5%;
        margin: 1%;
        border-radius: 15px;
        font-size: 3vmin;
    }

    .btn:hover {
        padding: 5%;
        margin: 1%;
        border-radius: 15px;
        background-color: rgb(43, 146, 206);
    }

    footer {
        padding-top: 3px;
        color: #ccc;
        font-size: 0.6rem;
    }
}
/*Tablet*/
@media only screen and (min-width: 768px){
    body {
        background-color: rgb(29, 27, 27);
        padding-left: 15%;
        padding-right: 15%;
        padding-bottom: auto;
        padding-top: 5px;
        font-family: Arial;
        width: 100%; 
    }

    header h1 {
        padding-top: 10px;
        font-size: 20px;
    }

    #fundo {
        background-color: rgb(46, 46, 43);
        border-radius: 1px;
        padding-top: 20px;
        padding-bottom: 20px;
        margin:20px 20px;
        text-align: center;
        display: flex;
        border-radius: 20px;
        box-shadow: 2px 2px 40px rgb(53, 49, 49);
    }

    div {
        flex-direction: column;
    }

    header {
        color: white;
        padding-bottom: 0px;
    }

    picture img {
        border-radius: 100%;
        border: solid 2px white;
    }

    #opc {
        padding-top: 10px;
        padding-bottom: 20px;
        display: flex;
        flex-direction: column;
        padding-left: 40px;
        padding-right: 40px;
    }

    #opc p {
        color: white;
        font-size: 20px;
        padding-bottom:20px;

    }

    .btn {
        padding: 5%;
        margin: 1%;
        border-radius: 15px;
        font-size: 3vmin;
    }

    .btn:hover {
        padding: 5%;
        margin: 1%;
        border-radius: 15px;
        background-color: rgb(43, 146, 206);
    }

    footer {
        padding-top: 3px;
        color: #ccc;
        font-size: 0.9rem;
    }
}

/*Computadores*/
@media only screen and (min-width: 992px){
    body {
        background-color: rgb(29, 27, 27);
        padding-left: 30%;
        padding-right: 30%;
        padding-bottom: auto;
        padding-top: 5px;
        margin-top: 8%;
        font-family: Arial;
        width: 100%; 
        height: 100vh;
        /* altura total da tela */
        overflow: hidden;
    }

    header {
        color: white;
        padding-bottom: 0px;
    }

    header h1 {
        padding-top: 10px;
        font-size: 30px;
    }

    #fundo {
        background-color: rgb(46, 46, 43);
        border-radius: 1px;
        padding-top: 20px;
        padding-bottom: 20px;
        margin:20px 20px;
        text-align: center;
        display: flex;
        border-radius: 20px;
        box-shadow: 2px 2px 40px rgb(53, 49, 49);
    }

    div {
        flex-direction: column;
    }

    picture img {
        border-radius: 100%;
        border: solid 2px white;
    }

    #opc {
        padding-top: 10px;
        padding-bottom: 20px;
        display: flex;
        flex-direction: column;
        padding-left: 40px;
        padding-right: 40px;
    }

    #opc p {
        color: white;
        font-size: 18px;
        padding-bottom:20px;

    }

    .btn {
        padding: 5%;
        margin: 1%;
        border-radius: 15px;
        font-size: 3vmin;
    }

    .btn:hover {
        padding: 5%;
        margin: 1%;
        border-radius: 15px;
        background-color: rgb(43, 146, 206);
    }

    footer {
        padding-top: 3px;
        color: #ccc;
        font-size: 0.9rem;
    }
}